.display-counter{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.home-report{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.home-guide{
    padding: 1rem 3rem;
}
.home-guide span{
    font-size: x-large;
    font-weight: 700;
    
}
.main-head{
    font-size: xx-large;
}
.sub-head{
    font-size: small;
    font-weight: 300;
}
h4 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
	color: rgb(70 70 70);
}

h4::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 0.3rem;
	height: 0.3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--c1);
	color: white;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

@media (min-width: 40em) {
	li {
		margin: 3rem auto;
		padding: 3rem 2rem 2rem;
	}

	h4 {
		font-size: 2.25rem;
		margin: 0 0 2rem;
	}

	h4::before {
		margin-right: 1.5rem;
	}
}
