.extended-image{
    width: 150px;
    margin-right: 10px;
}
.extend{
    display: flex;
}
.report-description{
    max-width: 700px;
    min-width: 200px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.td-icon{
    cursor: pointer;
}