.card-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  /* background-color: #fff; */
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: 0;
}

/* .comments-section {

} */

.comment {
  display: flex;
  margin-bottom: 15px;
}


/* .comment-content { */
/*   
} */

.input-container {
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 1;
  margin: 0;
  border-top: 1px solid rgb(214, 214, 214);
}
.input-container button {
  width: 80px;
  padding: 10px;
  border-radius: 5px;
  background-color: #145388; 
  color: white;
  border: none;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #147388; 
}
.image-content img {
  width: 37.3rem;
  margin: 0;
  border-radius: 0;
  object-fit: cover;
  box-shadow: 0;
  width: 99%;
  
}
.top-area{
  padding: 12px;
}
.bottom-area{
  padding: 12px;
}