.card-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  /* background-color: #fff; */
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: 0;
}

/* .comments-section {

} */

.comment {
  display: flex;
  margin-bottom: 15px;
}


/* .comment-content { */
/*   
} */

.input-container {
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 1;
  margin: 0;
  border-top: 1px solid rgb(214, 214, 214);
}
.input-container button {
  width: 80px;
  padding: 10px;
  border-radius: 5px;
  background-color: #145388; 
  color: white;
  border: none;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #147388; 
}
.image-content img {
  width: 37.3rem;
  margin: 0;
  border-radius: 0;
  object-fit: cover;
  box-shadow: 0;
  width: 100%;
  
}
.top-area{
  padding: 12px;
}
.bottom-area{
  padding: 12px;
}
.user-name{
  font-size: medium;
  font-weight: 600;
}
.time, .street-name{
  font-size:smaller;
  font-weight: 300;
  color: grey;
}
.report-title{
  font-size: larger;
  font-weight: 600;
}
.report-description{
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: small;
  font-weight: 400;
}
.commentor{
  font-size: small;
  font-weight: 500;
  padding-bottom: 4px;
}
.comment-description{
  font-size: small;
  font-weight: 350;
  padding-bottom: 4px;
}
.comments-section{
  margin-top: 6px;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}