*{
    margin: 0;
    padding: 0;
}
.Reports{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.container{
    margin: 15px 30px 10px 0;
    background-color: white; 
    width: 18rem;  
    height: 25rem;
    padding: 1rem 1rem 0;
    border-radius: 5%;
    box-shadow: 0 1px 3px rgb(163, 162, 162);
    position: relative;
}
.image-holder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 55%;
    border-radius:5% ;
}
.title{
    text-align: center;
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
    font-weight: bold;
    height: 2rem;
    padding-bottom: 45px;
    max-height: 45px;
}
.vote{
    display: flex;
    justify-content: space-between;
    font-size: smaller;
}
.vote,.description{
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.date-status{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: smaller;
    position: absolute;
    bottom: 0;
    width: 88%; 
    /* padding: 10px; */
}
.date .status{
    position: absolute;
    bottom: 0;
}
.description{
    font-size:xx-small;
    max-height: 5rem;
    overflow: hidden;
    text-align: justify;
    
}
img{
    object-fit: cover;
}
.date{
    color: gray;
    font-size: 8px;
}

.btn-filter {
    text-decoration: none;
    padding: 0.75rem 1rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-filter:hover {
    background-color: #145388;
    color: white;
}

.btn:hover,
.btn:active,
.btn:focus {
    background:  #145388;
}
.like{
    padding-right: 5px;
}

